.form-control{
    padding-left: 10px;
    padding-right: 40px;
    margin-bottom: 10px;

    input{
        margin-top: 10px;
        width: 100%;
        padding: 10px;
    }
    input[type=checkbox]{
        padding: 0px;
        margin-top: 0px;
        position: relative;
        left: -140px;
        top: -20px;
    }
    label{
        &:nth-child(3){
            display: inline-block;
        }
    }
}