@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

html{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 20px auto;
}